@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

body {
  background: #333;
  margin: 0;
  color: #222;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

/* navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 4rem;
  border-bottom: 2px solid #000;
  background: #7b1fa2;
}

nav h1 {
  font-size: 1.2rem;
  color: #fff;
}

nav button {
  height: 100%;
  width: 10rem;
  padding: 5px;
  border: none;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  background: #fff;
  font-size: 1rem;
  color: #222;
}

nav button:hover {
  filter: brightness(90%);
}

/* library */

.library {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 2rem;
  margin: 4rem;
}

/* books */

.book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10rem;
  border-radius: 0.25rem;
  background: #444;
  overflow: hidden;
  box-shadow: 3px 3px 5px 6px #000;
}

.book-header {
  width: 100%;
  display: grid;
  padding: 0.5rem;
  border-bottom: 0.1rem solid #000;
  background: #7b1fa2;
}

.book-header h2 {
  place-self: center;
  color: #fff;
  font-size: 1.2rem;
}

.book-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.book-buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-top: 0.1rem solid #000;
}

.not-read,
.read {
  grid-area: 1/1/2/5;
  width: 100%;
  padding: 0.5rem;
  background: #666;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.not-read:hover,
.read:hover {
  filter: brightness(90%);
}

.read {
  background: #2e7d32;
}

.book-delete {
  grid-area: 1/5/2/6;
  background: #333;
  border: none;
  color: #d32f2f;
  font-size: 1rem;
  font-weight: bold;
}

.book-delete:hover {
  background: #d32f2f;
  color: #fff;
}

.form-shroud {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
}

/* book form */

form {
  position: fixed;
  width: 30%;
  height: 70%;
  left: 35%;
  top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border: 0.1rem solid #666;
  border-radius: 0.25rem;
  background: #666;
}

.form-close {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  background: #333;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.2rem;
}

form h2 {
  font-size: 1.5rem;
  color: #fff;
}

.form-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.25rem;
  background: #333;
  color: #fff;
}

form label {
  color: #fff;
}

#create-book {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #666;
  border-radius: 0.25rem;
  background: #43a047;
  color: #fff;
  font-size: 1rem;
}

form button:hover {
  filter: brightness(90%);
}
